Uplift URL construction guidance to include details of how to handle escaping of special characters

The most recent version of Tomcat has changed to be more picky around some special characters i.e. pipe '|' inside the FHIR token data type for example.

Having talked to @james-answer about this again we think it's important that correct URL construction especially around the escaping of special characters in parameters is called out in our consumer testing. It appears that most client libraries will escape these characters for you automatically before your request hits the wire. However, unfortunately this isn't universally the case (hence why we should test this).

Do we want to give guidance just for the pipe '|' character? 

What about guidance for the construction of the full SSP URL? E.g. for "Find a Patient":
GET https://[proxy_server]/https://[provider_server]/[fhir_base]/Patient?identifier=[system]|[value]

[RFC 2396 section 2.2 ](https://tools.ietf.org/html/rfc2396#section-2) suggests that the entire provider URL should be URL encoded. 

So the example URL:
GET https://proxy/https://provider/v1/Patient?identifier=http://fhir.nhs.net/Id/nhs-number|8888888
would be URL Encoded to:
GET https://proxy/https%3A%2F%2Fprovider%2Fv1%2FPatient%3Fidentifier%3Dhttp%3A%2F%2Ffhir.nhs.net%2FId%2Fnhs-number%7C8888888